---
title: Buddies' Bistro
---

<div id="wrapper">
	<div id="bg"></div>
	<div id="overlay"></div>
	<div id="main">

		<!-- Header -->
			<header id="header">
				<h1>Buddies' Bistro</h1>
				<p>The best Pop-Up Pizzeria you will ever experience.<br>
          Italian tradition with a Nordic twist.
        </p>
				<nav>
					<ul>
            <li><a href="https://www.facebook.com/buddiesbistro" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://twitter.com/buddiesbistro" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<!-- <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li> -->
					</ul>
				</nav>
			</header>

		<!-- Footer -->
			<footer id="footer">
				<span class="copyright">&copy; 2015 Buddies' Bistro.</span>
			</footer>

	</div>
</div>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script>
	window.onload = function() { document.body.className = ''; }
	window.ontouchmove = function() { return false; }
	window.onorientationchange = function() { document.body.scrollTop = 0; }
</script>
